.metadata/
.recommenders/
RemoteSystemsTempFiles/
Userslen13DesktopOrdnerProgrammierenKafkaLog/

/Kafka/.project
/Kafka/.classpath
/Kafka/.settings/
/Kafka/properties/companies
/Kafka/properties/keywords

/Node/node_modules/
/Node/public/dist/

/Spark/target/
/Spark/.project
/Spark/.classpath
/Spark/.settings/
/Spark/.cache-main
Redis/.project
RemoteSystemsTempFiles/
Node/public/dist/
RemoteSystemsTempFiles/.project
Spark/.cache-main
Spark/target/
