.metadata/

/Kafka/.project
/Kafka/.classpath
/Kafka/.settings/
Kafka/properties/companies

Node/node_modules/
Node/public/dist/

.recommenders/
RemoteSystemsTempFiles/

Spark/.cache-main
Spark/target/
/Spark/.project
/Spark/.classpath
/Spark/.settings/
/Spark/.cache-main