.metadata/
/Kafka/.project
/Kafka/.classpath
/Kafka/.settings/
Node/node_modules/
Kafka/properties/companies
/Spark/.project
/Spark/.classpath
/Spark/.settings/
/Spark/.cache-main
.recommenders/
RemoteSystemsTempFiles/
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_7
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/write.lock
RemoteSystemsTempFiles/.project
Spark/.cache-main
Spark/target/classes/META-INF/MANIFEST.MF
Spark/target/classes/META-INF/maven/Spark/Spark/pom.properties
Spark/target/classes/META-INF/maven/Spark/Spark/pom.xml
Spark/target/classes/TUDITPM/Spark/KeywordExtractor$$anonfun$extractKey$1$$anonfun$apply$1.class
Spark/target/classes/TUDITPM/Spark/KeywordExtractor$$anonfun$extractKey$1$$anonfun$apply$2.class
Spark/target/classes/TUDITPM/Spark/KeywordExtractor$$anonfun$extractKey$1.class
Spark/target/classes/TUDITPM/Spark/KeywordExtractor$.class
Spark/target/classes/TUDITPM/Spark/KeywordExtractor.class
Spark/target/classes/TUDITPM/Spark/SparkKafkaStream$$anon$1$$anonfun$run$1.class
Spark/target/classes/TUDITPM/Spark/SparkKafkaStream$$anon$1.class
Spark/target/classes/TUDITPM/Spark/SparkKafkaStream$$anonfun$1.class
Spark/target/classes/TUDITPM/Spark/SparkKafkaStream$$anonfun$main$1$$anonfun$apply$1.class
Spark/target/classes/TUDITPM/Spark/SparkKafkaStream$$anonfun$main$1.class
Spark/target/classes/TUDITPM/Spark/SparkKafkaStream$.class
Spark/target/classes/TUDITPM/Spark/SparkKafkaStream.class
