body {
    padding-top: 90px;		/* Navbar is 50 px high */
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 50px;
}

input[type=file] {
    padding: 4px; 
    border: 1px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.label {
	font-size: 16px;
}

.blank {
	fill: #777;
	stroke: #000;
}

.new {
	fill: #5cb85c;
	stroke: #000;
}

.old {
	fill: #337ab7;
	stroke: #000;
}

.bar {
  fill: #337ab7;
}

.bar:hover {
  fill: #777;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background: #F7F7F7
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#card { 
    margin-top: 50px; 
}