body {
    padding-top: 90px;		/* Navbar is 50 px high */
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 50px;
}

input[type=file] {
    padding: 4px; 
    border: 1px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


.label {
	font-size: 16px;
}

.blank {
	fill: #777;
	stroke: #000;
}

.new {
	fill: #5cb85c;
	stroke: #000;
}

.old {
	fill: #337ab7;
	stroke: #000;
}